<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Whatsupp</title>
</head>

<body>
<script>
 window.location.replace("https://api.whatsapp.com/send?phone=66945800333&text=Для%20начала%20нажмите%20Отправить%20--->");
</script>
</div>
</body>

</html>